name: Tech-Website-CI-CD

on:
  push:
    branches: ["main"] 

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v4

      - name: Upload Files
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'C:\Web development\HTML\arr-portfolio' # English: Bundles all files in the current folder.

      - name: Deploy Live
        uses: actions/deploy-pages@v4
        # English: Publishes your website to the public URL.
